all.atcg.variants.txt
all.variants.txt
clean_inds_data.bed
clean_inds_data.bim
clean_inds_data.fam
clean_inds_data.frq
clean_inds_data.hh
clean_inds_data.hwe
clean_inds_data.imiss
clean_inds_data.lmiss
clean_inds_data.log
clean_inds_data.missing
cleandata.bed
cleandata.bim
cleandata.fam
cleandata.hh
cleandata.log
data.assoc.logistic
data.assoc.logistic.clumped
data.assoc.logistic.locuszoom.gz
data.assoc.logistic.log
data.log
data.model
fail-ancestry-QC.txt
fail-diffmiss-qc.txt
fail-qc-inds.txt
fail-sexcheck-qc.txt
gwa.frq
gwa.hwe
gwa.imiss
gwa.lmiss
gwa.log
gwas_assoc_compl.txt
rawdata.1kg_phase1.clean.bed
rawdata.1kg_phase1.clean.bim
rawdata.1kg_phase1.clean.eigenval
rawdata.1kg_phase1.clean.eigenvec
rawdata.1kg_phase1.clean.fam
rawdata.1kg_phase1.clean.log
rawdata.bed
rawdata.bim
rawdata.clean.ultraclean.bed
rawdata.clean.ultraclean.bim
rawdata.clean.ultraclean.fam
rawdata.clean.ultraclean.genome
rawdata.clean.ultraclean.het
rawdata.clean.ultraclean.log
rawdata.fam
rawdata.hh
rawdata.imiss
rawdata.lmiss
rawdata.log
rawdata.sexcheck
gwas-density.jpg
gwas-freq.png
gwas-hwe.png
gwas-manhattan.png
gwas-qc-imiss-vs-het.png
gwas-qc-pca-1000g.png
gwas-qc-sample-call-rate.png
gwas-qc-snp-call-rate.png
gwas-qc-snp-freq.png
gwas-qc-snp-hwe.png
gwas-qq.png
gwas-sample-call-rate.png
gwas-snp-call-rate.png
rs6802898.rs6802898.regional_assoc.png
rs7901695.rs7901695.regional_assoc.png
rs8050136.rs8050136.regional_assoc.png
