p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
  white-space: pre-wrap;
}
p {
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  font-family: "Thin 100", "ExtraLight 200", sans-serif;
}
